*{
    padding: 0;
    margin: 0;
    }
    
    /* Login form and page */
    
    .section_login{
      background-color: #191919;
      min-height:100vh;
    }
    
    .section_login .content-wrap{
      height:400px;
      width:100%;
      display: flex;
      margin-top:7%;
      align-items: center;
    }
    
    section_login .wrap{
      margin-top:20px;
      margin-bottom:20px;
    }
    
    .content-wrap .content-logo{
      /* background-image: url("../../public/icons_logo/film_info_icon2.png"); */
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height:100%;
      width:100%;
    }
    
    .login_form{
      background-color:rgb(169,169,169,0.9);
      padding:40px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      width:500px;
      max-width:100%;
      height:550px;
      max-height:100%;
      margin-bottom:10%;
    }
    
    .login_form h3{
      font-family: 'Heebo', sans-serif;
      font-weight: 800;
      color:black;
      text-align: left;
    }
    
    .login_form p{
      font-family: 'Heebo', sans-serif;
      font-weight: 300;
      color:black;
      text-align: justify;
      line-height: normal;
    }
    
    .login_form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    font-size: 13px;
    margin: 8px 0;
    box-sizing: border-box;
    }
    
    .login_form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    font-size: 13px;
    margin: 8px 0;
    box-sizing: border-box;
    }
    
    .login_form input[type="submit"]{
      width: 100%;
      margin:30px 0;
      padding: 10px 20px;
      border-radius: 10px;
      font-family: 'Heebo', sans-serif;
      font-weight: 800;
      font-size:19px;
      color:white;
      background-color: red;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
    
    
    .login_form input[type=text]:focus {
      border: 3px solid #555;
      transition: 0.5s;
    }
    
    .header-footer{
      display:flex;
    }
    
    .header-footer h3{
      color:white;
      font-family: 'Heebo', sans-serif;
      font-weight: 400;
      font-size:20px;
      text-align:left;
      margin-left:30px;
    }
    
    .body-home{
      padding:10px;
      width:87%;
      margin:auto;
      min-height:590px;
      /* min-height:85vh; */
      max-height:100%;
    }
    
    .body-home h2{
      color:white;
    }
    
    .footer--main{
      padding-top:50px;
      background: rgb(25,25,25);
      background: linear-gradient(180deg, rgba(25,25,25,1) 45%, rgba(35,35,35,1) 100%); 
    }
    
    .footer--main  ul{
      list-style-type:none;
      color:white;
      font-family: 'Heebo', sans-serif;
      font-weight: 400;
      text-align: left;
    }
    
    .footer--main .footer-endDetails{
      color:white;
      font-size:13px;
      padding:10px;
    }
    
    .footer-endDetails{
      margin-top:50px;
    }
    
    .footer-endDetails p {
      margin-bottom:0px !important;
      font-size:12px;
    }
    
    
    .row--data{
      display:flex;  
      flex-wrap:nowrap;
      overflow: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    
    .row--data::-webkit-scrollbar{
      display:none;
    }
    
    
    .content_link{
      padding:30px;
    
    }
    
    .home-banner h3{
      color:white;
      font-family: 'Heebo', sans-serif;
      font-weight: 800;
      text-align: left;
      padding:20px;
    }
    
    
    .movie_list > .row-1 {
    display:flex;
    overflow-x:auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox  */
    }
    
    .movie_list > .row-1::-webkit-scrollbar{
    display:none;
    }
    
    
    .movie-details {
    position:relative;
    transition: transform 0.4;
    display: inline-block;
    padding:10px;
    
    }
    
    .movie-details:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    transform: scale(1.1);
    }
    
    .movie-details:hover .overlay {
    opacity:1;
    }
    
    
    
    
    
    .overlay{
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 300px;
    max-width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    }
    
    .continue-section{
    margin:10px;
    padding:10px;
    }
    
    .continue-section h3{
      color:white;
      font-family: 'Heebo', sans-serif;
      font-weight: 800;
      text-align: left;
    }
    
    
    .data--section--2{
      background-color:#555;
      width: 300px;
      height:450px;
      padding:20px;
    }
    
    .poster--content{
        background-color:#555;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 1s;
        width: 300px;
        height:450px;
        padding:20px;
        cursor:pointer;
        display:flex;
        flex-direction: column;
        align-content: flex-end;
    }
    
    .poster--content--series{
      background-size: cover;
      background-repeat: no-repeat;
      width: 400px;
      height:450px;
    }
    
    .card--movie{
      padding:10px;
      display:flex;
      position:relative;
      /* width:1900px; */
    }
    
    .card--movie h4{
    text-align: center;
    color:white;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size:20px;
    }
    
    .panel--info{
      background-Color:#555;
      width:350px;
      padding:20px;
    }
    
    .panel--info h5{
      font-family: 'Heebo',sans-serif;
      font-weight:800;
      color:white;
    }
    
    .panel--info p{
      font-family: 'Heebo',sans-serif;
      text-align: justify;
      color:white;
    }
    
    .newReleases-section h3{
    color:white;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    text-align: left;
    }
    
    .newReleases-section{
    margin:10px;
    padding:10px;
    }
    
    
    .trendingNow-section h3{
      color:white;
      font-family: 'Heebo', sans-serif;
      font-weight: 800;
      text-align: left;
    }
    
    
    .trendingNow-section{
      margin:10px;
      padding:10px;
    }
    
    
    .navbar .navbar-nav a{
      font-weight: 600;
    }
    
    
    .navbar .navbar-nav a.active{
      color: #9a4800 !important;
    }
    
    .addBtn{
      padding:10px;
      left:100px;
      top:40px;
      background-color: #9a4800;
      color:white;
      font-weight: 700;
      font-family: 'Heebo',sans-serif;
      border-radius: 5px;
      border: none;
      text-decoration: none;
      transition:0.2s ease-out;
      position: relative;
    
    }
    
    .addBtn:hover{
      background-color: #191919;
    }
    
    .removeBtn{
      padding:10px;
      left:70px;
      top:60px;
      background-color: #9a4800;
      color:white;
      font-weight: 700;
      font-family: 'Heebo',sans-serif;
      border-radius: 5px;
      border: none;
      text-decoration: none;
      transition:0.2s ease-out;
      position: relative;
    
    }
    
    .removeBtn:hover{
      background-color: #191919;
    }
    
    
    
    .footer-links{
      text-decoration: none;
      font-weight: 800;
      font-size:15px;
      color:rgb(97, 218, 251);
    }
    
    .footer-links:hover{
      color:white;
      transition: 0.3s;
    }
    
    .loadingPanel{
      background-color:rgb(33.3%,33.3%,33.3%,0.50); 
      width:300px;
      height:450px; 
      padding:10px;
      transition:1s;
    }
    
    .loadingPanel h2{
      font-family:'Heebo',sans-serif;
      font-weight:800;
      padding-Top:58%; 
      text-Align:center;
      color:white;
    }
    
    .addToSaved{
      background-color:rgb(33.3%,33.3%,33.3%,0.50); 
      width:300px;
      height:450px; 
      padding:10px;
      transition:1s;
      cursor:pointer;
    }
    
    .addToSaved h3{
      font-family:'Heebo',sans-serif;
      font-weight:800;
      opacity: 60%;
      font-size: 20px;
      padding-Top:58%; 
      text-Align:center;
      color:white;
    }
    
    
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #555;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      width: 30%; /* Could be more or less, depending on screen size */
    }
    
    .modal-links{
      text-decoration: none;
      font-family: 'Heebo', sans-serif;
      color: white;
    }
    
    .modal-links h5{
        font-weight:800;
    }
    
    .modal-links:hover{
      color:rgb(97, 218, 251);
    }
    
    
    
    /* The Close Button */
    .close {
      color: #aaa;
      position:relative;
      top:-10px;
      left:97%;
      font-size: 28px;
      width:20px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    
    
    #btnSuccess {
      appearance: none;
      background-color: #555;
      border: 1px solid rgba(27, 31, 35, .15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: 'Heebo', sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      padding: 10px 16px;  
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
    }
    
    #btnSuccess:focus:not(:focus-visible):not(.focus-visible) {
      box-shadow: none;
      outline: none;
    }
    
    #btnSuccess:hover {
      background-color: #2c974b;
    }
    
    #btnSuccess:focus {
      box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
      outline: none;
    }
    
    #btnSuccess:disabled {
      background-color: #94d3a2;
      border-color: rgba(27, 31, 35, .1);
      color: rgba(255, 255, 255, .8);
      cursor: default;
    }
    
    #btnSuccess:active {
      background-color: #298e46;
      box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }
    
    /* Error page */
    
    .error-page{
      height:590px;
    }
    
    .error-page h1{
      color:white;
      font-Family:"heebo";
      position:relative;
      top:200px;
      font-Weight:800
    }
    
    
    
    
    /* Registration form */
    .section_registration{
      background-color: #191919;
      min-height:100vh;
    }
    
    .section_registration .content-wrap{
      height:400px;
      width:100%;
      margin-top:8%;
      display: flex;
      align-items: center;
    }
    
    .wrap{
      margin-top:20px;
      margin-bottom:20px;
    }
    
    .content-wrap .content-logo{
      /* background-image: url("../../public/icons_logo/film_info_icon2.png"); */
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height:100%;
      width:100%;
    }
    
    .registration_form{
      background-color:rgb(169,169,169,0.9);
      padding:40px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      width:500px;
      max-width:100%;
      max-height:100%;
      margin-bottom:5%;
    }
    
    .registration_form h3{
      font-family: 'Heebo', sans-serif;
      font-weight: 800;
      color:white;
      text-align: left;
    }
    
    .registration_form p{
      font-family: 'Heebo', sans-serif;
      font-weight: 300;
      color:black;
      text-align: justify;
      line-height: normal;
    }
    
    .registration_form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    font-size: 13px;
    margin: 8px 0;
    box-sizing: border-box;
    }
    
    .registration_form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    font-size: 13px;
    margin: 8px 0;
    box-sizing: border-box;
    }
    
    .registration_form input[type="submit"]{
      width: 100%;
      margin:30px 0;
      padding: 10px 20px;
      border-radius: 10px;
      font-family: 'Heebo', sans-serif;
      font-weight: 800;
      font-size:19px;
      color:white;
      background-color: red;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
    
    
    .registration_form input[type=text]:focus {
      border: 3px solid #555;
      transition: 0.5s;
    }
    
    .labelCls{
      font-weight:800;
      font-family: 'Heebo', sans-serif;
      text-align:left;
      text-transform: uppercase;
    }
    
    .errmsg {
      background-color: lightpink;
      color: firebrick;
      font-weight: bold;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }
    
    .offscreen {
      position: absolute;
      left: -9999px;
    }
    
    
    
    .foregrounds--cover{
      background-image: url("../../public/images/background--cover--photo.png");
      background-size: cover;
      background-repeat: no-repeat;
      width:100%;
      background-position-x:8%;
      background-position-y:30%;
      background-color: rgba(255, 99, 71, 0.1);
      padding:50px;
      border-radius: 20px;
    } 
    
    .container--contain{
      display:flex;
      flex-direction: row;
      justify-content: center;
      
    }
    
    .background--contain{
      padding:20px;
    }
    
    .background--contain .banner--logo{
      background-image: url();
      background-size: contain;
      background-repeat: no-repeat;
      height:500px;
      width:100%;
    }
    
    .background--logos{
      width:100%;
      height:200px;
    }
    
    .background--contain h1{
      color:white;
      font-size: 50px;
      text-align: left;
      font-weight:800;
    }
    
    .background--contain p{
      color:white;
      text-align: left;
      font-size: 30px;
      font-weight:700;
    }
    